{% extends 'base.html' %}
{% block title %}User Detail{% endblock %}
{% block pagetitle %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}
    <img src="{{user.image_url}}">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <form action="/users/{{user.id}}/edit">
        <button>Edit</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    <h2>Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %} 
    </ul>
    <form action="/users/{{user.id}}/posts/new">
        <button>Add Post</button>
    </form>
{% endblock %}